/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body{
  background-color: #f7f7f7;
  font-size:17px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin:0;
} */
#Dialog{
  background-color: white;
  border-radius: 5px;
  width: 800px;
  height: 650px;
  /* max-width: 100%; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  /* text-align: center; */
  padding: 20px;
  position:relative;
}
caption{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
#noticeDialog{
	text-align: center;
}
#boardDialog{
	text-align: center;
}
.tb>caption>span{
  font-family: 'Merienda', cursive;
}
.tb{
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin:20px 120px;
}
.col{
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: center;
  /* 글자색 */
  color: black;
  /*배경색*/
  background-color:whitesmoke;
  /* 오른쪽 테두리 */
  border-right:1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tb td{
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

a{
  color: #888;
  text-decoration: none;

}
/* 게시글 상세보기다이얼로그 css */
#detailContents{
  height: 300px;
}

/* 답글관련 다이얼로그 css */
#replyContents{
  height: 300px;
}

#updateContents{
  height: 300px;
}

/* 수정버튼(submit)에 대한 css적용 */
#revise{
 display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: gray;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
 /*  margin-left: 10px */
}

/* 삭제버튼(submit)에 대한 css적용 */
#delete{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: gray;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px
}

#reviseDelete{
 text-align: left;
 margin-left: 14%;
}
